*.swp
*.lo
*.o
*.la
.deps
.dirstamp
.libs
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/elaboradar.pc
/m4/lt*
/m4/libtool*
